<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>
<body>
    <form class="form" action="/users/save" method="post">
        <input type="text" name="name" placeholder="Informe o nome do usuário...">
        <input type="text" name="age" placeholder="Informe a idade...">
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>